.breadcrumbs {
    margin-top: 120px;
    color: rgba(26, 26, 26);
    padding: 25px 0;
}

.breadcrumbs ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumbs span {
    opacity: 0.6;
}