.header-wrapper {
    position: relative;
}

.header-wrapper-modal {
    margin: 0;
    padding: 17px 25px;
    list-style: none;
    background-color: #ffffff;
    position: absolute;
    top: 50px;
    left: 0;
    width: 220px;
    z-index: 5;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;

    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}

.header-wrapper-modal a {
    color: rgba(26, 26, 26, 0.90);
    transition: color 0.3s ease;
}

.header-wrapper-modal a:hover {
    color: #5278DA;
}

.header-wrapper:hover .header-wrapper-modal {
    transform: rotateX(0);
    opacity: 1;
    visibility: visible;
}